<!DOCTYPE html>
<html>
  <head>
    @{meta}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=1024, user-scalable=yes" />
    <meta name="robots" content="all,follow" />
    @{head}
    @{css('default.css')}
    @{favicon('favicon.ico')}
    <script src="polymer/dist/platform/platform.js"></script>
    <!-- Core compoentens -->
    <link rel="import" href="polymer/dist/polymer/polymer.html">

    <link rel="import" href="polymer/dist/core-ajax/core-ajax.html">
    <link rel="import" href="polymer/dist/core-icons/core-icons.html">
    <link rel="import" href="polymer/dist/core-icon-button/core-icon-button.html">
    <link rel="import" href="polymer/dist/core-toolbar/core-toolbar.html">
    <link rel="import" href="polymer/dist/core-animated-pages/core-animated-pages.html">
    <link rel="import" href="polymer/dist/core-animated-pages/transitions/slide-from-right.html">
    <link rel="import" href="polymer/dist/core-header-panel/core-header-panel.html">
    <link rel="import" href="polymer/dist/core-collapse/core-collapse.html">
    <link rel="import" href="polymer/dist/core-list/core-list.html">

    <!-- Paper stuff -->
    <link rel="import" href="polymer/dist/paper-shadow/paper-shadow.html" >
    <link rel="import" href="polymer/dist/paper-button/paper-button.html">
    <link rel="import" href="polymer/dist/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="polymer/dist/paper-tabs/paper-tabs.html">
    <link rel="import" href="polymer/dist/paper-dialog/paper-dialog.html">
    <link rel="import" href="polymer/dist/paper-dialog/paper-dialog-transition.html">
    <link rel="import" href="polymer/dist/paper-input/paper-input.html">
    <link rel="import" href="polymer/dist/paper-toast/paper-toast.html">

    <!-- Other -->
    <link rel="import" href="polymer/dist/font-roboto/roboto.html">

    <!-- Self defined -->
    <link rel="import" href="polymer/AutoNode/devices-control/devices-control.html">
    <link rel="import" href="polymer/AutoNode/message-control/message-control.html">
    </head>
  <body>
    @{body}
  </body>
</html>
