<!DOCTYPE html>
<html>
<head>
    @{meta}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=1024, user-scalable=yes" />
    <meta name="robots" content="all,follow" />
    @{head}
    @{css('default.css')}
    <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
    @{js('default.js')}
    @{favicon('favicon.ico')}
    <!-- jqGrid -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/flick/jquery-ui-1.10.4.custom.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/ui.jqgrid.css" />

    <script src="/js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="/js/jquery.jqGrid.min.js" type="text/javascript"></script>



</head>
<body>

    @{body}

</body>
</html>
