<!DOCTYPE html>
<html>
  <head>
  <style type="text/css">
  core-header-panel{
  	float: left;
	width: 100%;
	height: 400px;
	margin: 5px;
  }
  core-toolbar{
  	height: 60px;
	line-height: 60px;
	font-size: 18px;
	padding: 0 10px;
	background-color: #4F7DC9;
	color: #FFF;
	transition: height 0.2s;
  }
  </style>
    <script src="bower_components/platform/platform.js"></script>
    <link rel="import" href="AutoNode_components/devices-control.html">
  </head>
  <body>
	<devices-control websocketServer="@{model.webSocketURL_client}"></devices-control>
  </body>
</html>